body {
    background-color: #522e2e;
    text-align: center;
    margin: 50px;
    font-family: Verdana (sans-serif);
  }
  .round-image {
    border-radius: 50%;
  }
  .input{
    border-radius: 50px;
background: #3c2020;
box-shadow:  5px 5px 10px #341c1c,
             -5px -5px 10px #442424;
  }
  .pick{
    border-radius: 50px;
    background: #502b2b;
    box-shadow:  5px 5px 10px #452525,
                 -5px -5px 10px #5b3131;
  }
  h1 {
    
    color: black;
    font-size: 90px;
 
  }
  #output {
    font-size: 50px;
    margin-top: 20px;
    color:  #b66646 ;
    font-style: oblique;
    border: 1px dotted black;
    border-radius: 50px;
 
  }

  button {
    border-radius: 50px;
    background: #3c2020;
    box-shadow:  5px 5px 10px #341c1c,
                 -5px -5px 10px #442424;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    color:  #383837;
    background-color: 
    #dacda6;
    border: solid 1px black;
    font-size: 30px;
transition: background-color 0.5s ease;
font-family:Verdana (sans-serif);
  }


button:hover {
    background-color: #351e1e;
  }

.namepicker{
    
  font-family: Verdana (sans-serif);
      text-align: center;
      margin: 20px;
      font-size: 30px;
      color: #dacda6;
    }
    #nameInputContainer {
      margin-bottom: 20px;
    }
    #nameInput {
      padding: 8px;
      width: 200px;
      box-sizing: border-box;
      background-color: #fff2d8;
      border: 1px solid #fff2d8;
      font-family: Verdana (sans-serif);
    }
    
    
    #namesContainer {
      margin-top: 20px;
    }
    .output{
        border-radius: 50px;
background: #3c2020;
box-shadow:  20px 20px 60px #331b1b,
             -20px -20px 60px #452525;
    }